#overlay {
  position: fixed;
  opacity: 0.7;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: block;
  background-color: grey;
}

#wrapper {
  z-index: 1000;
  padding-right: 4px;
  position: fixed;
  display: inline-block;
  overflow: hidden;
  clear: both;
}

#viewBox {
  border: 2px solid grey;
  margin-bottom: 2px;
  display: inline-block;
  top: 0;
  float: left;
  overflow: hidden;
}

#textBox {
  height: 100%;
  width: 100%;
  top: 5px;
  left: 5px;
  margin: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1.5;
  word-spacing: 5px;
  letter-spacing: 3px;

}

#toolBar {
  height: 40px;
  bottom: 0;
  margin-top: 5px;
  background-color: white;
  border: 2px solid grey;
  display: inline-block;
  float: left;
}

#searchBar {
  margin : 4px;
  float: left;
  display: block;
  border-right: 2px solid grey;

}
.textButtons {
  /*all: initial;*/
  border: 1px solid grey;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 16pt;
  margin-left: 4px;
  margin-right: 2px;
  color: black;
}
.simpSizeButtons {
  font-size: large;
  padding: 0;
  color: black;
}

.searchField {
  border: 1px solid grey;
  line-height: 2;
}

.simplifyButton{

}

#settingsButton {

}

.settingsSectionDiv {
	float: left;
	display: inline-block;
	border-right: 2px solid grey;
	margin-top: 2px;
	margin-left: 4px;
	line-height: 35px;
}

/*#nextButton {
  all: initial;
  background-color: #4CAF50; /* Green */
  /*border: none;
  color: white;
  height:30px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;*/


/*#nextButton {
  display: inline-block;
  border:1px solid #302A0D;
  color: #705D07;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  font-family: Verdana;
  width: auto;
  height: auto;
  font-size: 16px;
  padding: 10px 40px;
  box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
  -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
  -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
  text-shadow: 0 1px 0 #FFFFFF;
  background-color: #C7C2A7;
}

#nextButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}*/

#settingsSection {

}
